<header>
    <nav class="navbar">
        <div class="container d-flex ai-center">
            <a href="#"><img src="../assets/images/logo.svg" alt="logo" class="navbar-img m-r-40"></a>
            <ul class="navbar-list d-flex">
                <li class="navbar-item m-r-40 m-l-8"><a href="product-list.html" class="navbar-item-link">商品列表</a></li>
                <li class="navbar-item"><a href="brand-story.html" class="navbar-item-link">品牌故事</a></li>
            </ul>
            <div class="navbar-icon m-l-auto"><a href="#" class="navbar-item-link"><i class="bi bi-person"></i></a>
            </div>
        </div>
    </nav>
</header>