<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="css/all.css">
</head>

<body>
    <%- include('./layout/header'); -%>
    <main>
        <section class="product-list-content">
            <div class="container">
                <div class="breadcrumb">
                    <ul class="breadcrumb-list d-flex">
                        <li class="breadcrumb-item">
                            <a href="#" class="breadcrumb-item-link">首頁</a>
                        </li>
                        <li class="breadcrumb-item symbol-2">
                            <a href="#" class="breadcrumb-item-link">女鞋</a>
                        </li>
                        <li class="breadcrumb-item symbol-2">
                            <a href="#" class="breadcrumb-item-link neutral-900-im">所有商品</a>
                        </li>
                    </ul>
                </div>
                <h2 class="title">女鞋</h2>
                <div class="row">
                    <div class="col-2">
                        <ul class="aside-list">
                            <li class="aside-item"><a href="#" class="aside-item-link primary-400">所有商品</a></li>
                            <li class="aside-item"><a href="#" class="aside-item-link">慢跑鞋</a></li>
                            <li class="aside-item"><a href="#" class="aside-item-link">滑板鞋</a></li>
                            <li class="aside-item"><a href="#" class="aside-item-link">厚底鞋</a></li>
                            <li class="aside-item"><a href="#" class="aside-item-link">限定 / 聯名企劃</a></li>
                        </ul>
                    </div>
                    <div class="col-10">
                        <div class="row">
                            <div class="col-4">
                                <div class="card">
                                    <img src="../assets/images/product.png" alt="product" class="card-img">
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="../pages/product-detail.html" class="card-title-link">PLATFORM 404</a></h5>
                                        <p class="card-text">NT$2,600</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card">
                                    <img src="../assets/images/product-1.png" alt="product" class="card-img">
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="#" class="card-title-link">PLATFORM 404</a></h5>
                                        <p class="card-text">NT$2,600</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card">
                                    <img src="../assets/images/product-2.png" alt="product" class="card-img">
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="#" class="card-title-link">VM001</a></h5>
                                        <p class="card-text">NT$2,600</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card">
                                    <img src="../assets/images/product-3.png" alt="product" class="card-img">
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="#" class="card-title-link">Melty Kiss</a></h5>
                                        <p class="card-text">NT$4,000</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card">
                                    <img src="../assets/images/product-4.png" alt="product" class="card-img">
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="#" class="card-title-link">BOOMBLOK</a></h5>
                                        <p class="card-text">NT$3,200</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card">
                                    <img src="../assets/images/product-5.png" alt="product" class="card-img">
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="#" class="card-title-link">BOOMBLOK</a></h5>
                                        <p class="card-text">NT$3,200</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card">
                                    <img src="../assets/images/product-6.png" alt="product" class="card-img">
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="#" class="card-title-link">R:UNER</a></h5>
                                        <p class="card-text">NT$4,000</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card">
                                    <img src="../assets/images/product-7.png" alt="product" class="card-img">
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="#" class="card-title-link">Sugar Snap</a></h5>
                                        <p class="card-text">NT$4,000</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card">
                                    <img src="../assets/images/product-8.png" alt="product" class="card-img">
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="#" class="card-title-link">Neofoam</a></h5>
                                        <p class="card-text">NT$4,000</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 show">
                                <div class="card">
                                    <img src="../assets/images/product-9.png" alt="product" class="card-img">
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="#" class="card-title-link">Buttermood</a></h5>
                                        <p class="card-text">NT$4,000</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <nav class="pagination">
                            <ul class="pagination-list d-flex jc-space-between">
                                <li class="page-item">
                                    <a href="#" class="page-item-link"><i class="bi bi-chevron-left"></i></a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-item-link primary-300-hover">1</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-item-link">2</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-item-link">3</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-item-link">...</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-item-link">10</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-item-link"><i class="bi bi-chevron-right"></i></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('./layout/footer'); -%>
    
    <script type="module" src="../main.js"></script>
</body>

</html>