// color

$neutral-900: #212529;
$neutral-500: #ADB5BD;
$neutral-700: #495057;
$neutral-600: #6C757D;
$neutral-300: #DEE2E6;
$neutral-100: #F8F9FA;
$neutral-white: #ffffff;

$primary-500: #477A11;
$primary-400: #57A203;
$primary-300: #C0FA73;
$primary-200: #E8FEC5;
$primary-100: #F5FEE7;

$danger-300: #D74F4F;

// font-weight

$fw-500: 500;
$fw-700: 700;
